
body{
	margin:0;
	padding:0;
}


#t{
	left:-50px;
	position:absolute;
	top:99px;
	width:1393px;
	height:500px;
	transition:3s;
}

#img11{
	margin-top:-10px;
	width:20px;
	height:20px;
}
#img111{
	margin-left:-26px;
	margin-top:-15px;
	width:30px;
	height:30px;
}

ul{
	
	list-style:none;
}
a{
	text-decoration:none;
	color:black;
}

.selector header{
	font-family:arial black;
	position:relative;
	top:30px;
	left:150px;
	border:2px solid black;
	width:60px;
	height:10px;
	line-height:10px;
	padding:15px;
	
}
.selector{
	left:0;
	top:0;
	height:15%;
	width:1341px;
	background:white;
	position:absolute;
}
.selector li a{
	font-size:11px;
	top:-10px;
	position:relative;
	left:350px;
	padding:;
	padding-left:40px;
	margin-left:30px;
	line-height:5px;
	float:left;
	
}
.main h2{
	font-size:60px;
	font-family:arial black;
	margin-left:584px;
	top:150px;
	position:relative;
	color:white;
}
.m p{
	font-size:20px;
	font-family:arial black;
	margin-left:500px;
	top:270px;
	position:absolute;
	color:white;
}
#p1{
	
	font-size:30px;
	font-family:arial black;
	padding:10px;
	background:orange;
	margin-left:400px;
	top:370px;
	position:absolute;
}

#p2{
	font-size:30px;
	font-family:arial black;
	padding:10px;
	background:orange;
	margin-left:740px;
	top:370px;
	position:absolute;
}
#p3{
	margin-left:400px;
	top:460px;
	position:absolute;
}

#p4{
	margin-left:740px;
	top:460px;
	position:absolute;
}


 h2{
	margin-top:50px;
	margin-left:590px;
	font-style:normal;
	font-size:25px;
	position:relative;
	color:black;
}
.met{
	color:black;
	position:absolute;
	margin-top:450px;
	left:620px;
	
}


.p2{
	margin-top:480px;
	margin-left:554px;
	color:#A9A9A9;
	position:absolute;
}

.p3{
	
	background-color:orange;
	position:absolute;
	margin-left:649px;
	margin-top:518px;
	width:40PX;
	height:2PX;
	
}
.p4{
	background-color:#A9A9A9;
	position:absolute;
	margin-left:800px;
	margin-top:490px;
	width:85PX;
	height:2PX;
	
}
.p5{
	background-color:#A9A9A9;
	position:absolute;
	margin-left:450px;
	margin-top:490px;
	width:85PX;
	height:2PX;
	
}
#p6{
	line-height:20px;
	position:absolute;
	color:#A9A9A9;
	margin-left:362px;
	top:700px;
}
#p7{

	position:absolute;
	color:#A9A9A9;
	margin-left:490px;
	top:730px;
}



/*1 картинка*/

.div1{
	color:black;
	position:absolute;
	margin-top:880px;
	margin-left:240px;
	
	
}
.ceo{
	position:absolute;
	margin-top:908px;
	margin-left:230px;
	font-size:10px;
	color:#A9A9A9;
}
.pusto{
	width:70px;
	height:2px;
	position:absolute;
	margin-top:935px;
	margin-left:241px;
	background-color:#A9A9A9;
}
#arm{
	margin-left:170px;
	margin-top:630px;
	position:absolute;
	width:220px;
	height:230px;
}

#arm1{
	margin-left:235px;
	margin-top:950px;
	position:absolute;
	width:20px;
	height:15px;
}
#arm2{
	margin-left:260px;
	margin-top:949px;
	position:absolute;
	width:20px;
	height:20px;
}
#arm3{
	margin-left:284px;
	margin-top:944px;
	position:absolute;
	width:30px;
	height:30px;
}






/*2 картинка*/

.div2{
	color:black;
	position:absolute;
	margin-top:880px;
	margin-left:475px;
	
	
}
.ceo2{
	position:absolute;
	margin-top:908px;
	margin-left:485px;
	font-size:10px;
	color:#A9A9A9;
}
.pusto2{
	width:70px;
	height:2px;
	position:absolute;
	margin-top:935px;
	margin-left:490px;
	background-color:#A9A9A9;
}

#arm1212{
	margin-left:420px;
	margin-top:630px;
	position:absolute;
	width:220px;
	height:230px;
}
#arm4{
	margin-left:485px;
	margin-top:950px;
	position:absolute;
	width:20px;
	height:15px;
}
#arm5{
	margin-left:510px;
	margin-top:949px;
	position:absolute;
	width:20px;
	height:20px;
}
#arm6{
	margin-left:534px;
	margin-top:942px;
	position:absolute;
	width:30px;
	height:30px;
}





/*3 картинка*/

.div3{
	color:black;
	position:absolute;
	margin-top:880px;
	margin-left:735px;
	
	
}
.ceo3{
	position:absolute;
	margin-top:908px;
	margin-left:725px;
	font-size:10px;
	color:#A9A9A9;
}
.pusto3{
	width:70px;
	height:2px;
	position:absolute;
	margin-top:935px;
	margin-left:736px;
	background-color:#A9A9A9;
}

#arm1313{
	margin-left:670px;
	margin-top:630px;
	position:absolute;
	width:220px;
	height:230px;
}
#arm7{
	margin-left:730px;
	margin-top:950px;
	position:absolute;
	width:20px;
	height:15px;
}
#arm8{
	margin-left:755px;
	margin-top:949px;
	position:absolute;
	width:20px;
	height:20px;
}
#arm9{
	margin-left:775px;
	margin-top:942px;
	position:absolute;
	width:30px;
	height:30px;
}







/*4 картинка*/

.div4{
	color:black;
	position:absolute;
	margin-top:880px;
	margin-left:955px;
	
	
}
.ceo4{
	position:absolute;
	margin-top:908px;
	margin-left:975px;
	font-size:10px;
	color:#A9A9A9;
}
.pusto4{
	width:70px;
	height:2px;
	position:absolute;
	margin-top:935px;
	margin-left:985px;
	background-color:#A9A9A9;
}

#arm1414{
	margin-left:920px;
	margin-top:630px;
	position:absolute;
	width:220px;
	height:230px;
}
#arm10{
	margin-left:980px;
	margin-top:950px;
	position:absolute;
	width:20px;
	height:15px;
}
#arm11{
	margin-left:1010px;
	margin-top:949px;
	position:absolute;
	width:20px;
	height:20px;
}
#arm12{
	margin-left:1034px;
	margin-top:942px;
	position:absolute;
	width:30px;
	height:30px;
}



.fon{
	left:-9px;
	margin-top:1060px;
	background-color:#333030;
	width:1344px;
	height:110px;
	position:relative;
}
#na_fon{
	line-height:10px;
	color:white;
	position:relative;
	top:-70px;
	margin-left:280px;
}

.pp2{
	margin-top:40px;
	margin-left:599px;
	color:black;
	position:absolute;
}
.pp3{
	margin-top:70px;
	font-size:10px;
	margin-left:530px;
	color:#A9A9A9;
	position:absolute;
	
}


.pp4{
	background-color:#A9A9A9;
	position:absolute;
	margin-left:390px;
	margin-top:76px;
	width:115PX;
	height:2PX;
}


.pp5{
	background-color:#A9A9A9;
	position:absolute;
	margin-left:810px;
	margin-top:76px;
	width:115PX;
	height:2PX;
}

.table1{
	position:absolute;
	margin-top:155px;
	
}
#images{
	width:440px;
	height:370px;
}

.table2{
	position:absolute;
	top:-16px;
	margin-left:440px;
}
#zogolovok{
	margin-left:105px;
	position:absolute;
	font-size:15px;
	margin-top:90px;
}
#podzogolovok{
	margin-left:105px;
	margin-top:120px;
	position:absolute;
	font-size:13px;
	color:#A9A9A9;
}
#pustota{
	margin-left:105px;
	margin-top:200px;
	position:absolute;
	width:260px;
	height:2px;
	background-color:#A9A9A9;
}
#images2{
	margin-left:15px;
	margin-top:100px;
	width:60px;
	height:60px;
	position:absolute;
}



#zogolovok2{
	margin-left:105px;
	position:absolute;
	font-size:15px;
	margin-top:230px;
}
#podzogolovok2{
	margin-left:105px;
	margin-top:260px;
	position:absolute;
	font-size:13px;
	color:#A9A9A9;
}

#images3{
	margin-left:15px;
	margin-top:240px;
	width:60px;
	height:60px;
	position:absolute;
}




.table3{
	position:absolute;
	margin-left:440px;
	top:0px;
}






#zogolovok3{
	margin-left:105px;
	position:absolute;
	font-size:15px;
	margin-top:90px;
}
#podzogolovok3{
	margin-left:105px;
	margin-top:120px;
	position:absolute;
	font-size:13px;
	color:#A9A9A9;
}
#pustota2{
	margin-left:105px;
	margin-top:200px;
	position:absolute;
	width:260px;
	height:2px;
	background-color:#A9A9A9;
}
#images4{
	margin-left:15px;
	margin-top:100px;
	width:60px;
	height:60px;
	position:absolute;
}



#zogolovok4{
	margin-left:105px;
	position:absolute;
	font-size:15px;
	margin-top:230px;
}
#podzogolovok4{
	margin-left:105px;
	margin-top:260px;
	position:absolute;
	font-size:13px;
	color:#A9A9A9;
}

#images5{
	margin-left:15px;
	margin-top:240px;
	width:60px;
	height:60px;
	position:absolute;
}





.clients1{
	color:black;
	position:absolute;
	margin-top:450px;
	margin-left:-280px;
}
.clients2{
	font-size:10px;
	margin-top:490px;
	margin-left:-300px;
	color:#A9A9A9;
	position:absolute;
}

.clients3{
	background-color:orange;
	position:absolute;
	margin-left:-230px;
	margin-top:530px;
	width:40PX;
	height:2PX;
}

.clients4{
	background-color:#A9A9A9;
	position:absolute;
	margin-left:-450px;
	margin-top:495px;
	width:115PX;
	height:2PX;
}

.clients5{
    background-color:#A9A9A9;
	position:absolute;
	margin-left:-70px;
	margin-top:495px;
	width:115PX;
	height:2PX;
}
#clients6{
	line-height:20px;
	position:absolute;
	color:#A9A9A9;
	margin-left:-499px;
	margin-top:550px;
}
#clients7{

	position:absolute;
	color:#A9A9A9;
	margin-left:-300px;
	margin-top:580px;
}




#we{
	margin-left:-245px;
	margin-top:620px;
	position:absolute;
	width:50px;
	height:50px;
	border-radius:40px;
}
#podwe{
	font-size:15px;
	margin-left:-295px;
	margin-top:686px;
	position:absolute;
	color:#A9A9A9;
}


/*FOOTER*/

.black{
	left:-888px;
	margin-top:350px;
	position:absolute;
	background-color:black;
	width:1340px;
	height:400px;
}
footer{
	font-family:arial black;
	padding:6px;
	margin-left:150px;
	margin-top:50px;
	position:absolute;
	color:white;
	border:2px solid white;
}
.podfooter{
	font-size:15px;
	margin-left:150px;
	margin-top:110px;
	position:absolute;
	color:gray;
}
.get{
	font-size:17px;
	font-family:arial black;
	margin-left:150px;
	margin-top:230px;
	position:absolute;
	color:white;
}
.pustotafooter2{
	background-color:gray;
	width:45px;
	height:2px;
	margin-left:150px;
	margin-top:270px;
	position:absolute;
}


#lott{	
	padding-bottom:10px;
	border-bottom:1px solid gray;
	font-family:arial black;
	margin-left:490px;
	margin-top:55px;
	position:absolute;
	color:white;
}
#podlott{
	font-size:13px;
	line-height:40px;
	padding-bottom:10px;
	border-bottom:1px solid gray;
	font-family:arial black;
	margin-left:490px;
	margin-top:85px;
	position:absolute;
	color:gray;
}




#lott2{
		padding-bottom:10px;
	border-bottom:1px solid gray;
	font-family:arial black;
	margin-left:750px;
	margin-top:55px;
	position:absolute;
	color:white;
}
#podlott2{
	font-size:13px;
	line-height:40px;
	padding-bottom:10px;
	border-bottom:1px solid gray;
	font-family:arial black;
	margin-left:750px;
	margin-top:85px;
	position:absolute;
	color:gray;
}



#lott3{
	padding-bottom:10px;
	border-bottom:1px solid gray;
	font-family:arial black;
	margin-left:1040px;
	margin-top:55px;
	position:absolute;
	color:white;
}
#podlott3{
	margin-left:490px;
	margin-top:85px;
	position:absolute;
	
}

#kasmet1{
	position:absolute;
	margin-left:550px;
	margin-top:25px;
	width:70px;
	height:60px;

}
#kasmet2{
	position:absolute;
	margin-left:630px;
	top:25px;
	width:70px;
	height:60px;

}
#kasmet3{
	position:absolute;
	margin-left:710px;
	margin-top:25px;
	width:70px;
	height:60px;

}
#kasmet4{
	position:absolute;
	margin-left:550px;
	margin-top:95px;
	width:70px;
	height:60px;

}
#kasmet5{
	position:absolute;
	margin-left:630px;
	margin-top:95px;
	width:70px;
	height:60px;

}
#kasmet6{
	position:absolute;
	margin-left:710px;
	margin-top:95px;
	width:70px;
	height:60px;

}
#kasmet7{
	position:absolute;
	margin-left:550px;
	margin-top:165px;
	width:70px;
	height:60px;

}
#kasmet8{
	position:absolute;
	margin-left:630px;
	margin-top:165px;
	width:70px;
	height:60px;

}
#kasmet9{
	position:absolute;
	margin-left:710px;
	margin-top:165px;
	width:70px;
	height:60px;

}
#kasmet10{
	position:absolute;
	margin-left:550px;
	margin-top:25px;
	width:70px;
	height:60px;

}
#kasmet11{
	position:absolute;
	margin-left:550px;
	margin-top:25px;
	width:70px;
	height:60px;

}
#kasmet12{
	position:absolute;
	margin-left:550px;
	margin-top:25px;
	width:70px;
	height:60px;

}

#inst{
	padding:8px;
	border:1px solid gray;
	margin-left:140px;
	margin-top:280px;
	position:absolute;
	width:20px;
	height:20px;
}
#face{
	padding:8px;
	border:1px solid gray;
	margin-left:226px;
	margin-top:280px;
	position:absolute;
	width:20px;
	height:20px;
}
#vk{
	padding:8px;
	border:1px solid gray;
	margin-left:269px;
	margin-top:280px;
	position:absolute;
	width:20px;
	height:20px;
}
#skaip{
	padding:8px;
	border:1px solid gray;
	margin-left:183px;
	margin-top:280px;
	position:absolute;
	width:20px;
	height:20px;
}
#pus{
	background-color:#A9A9A9;
	position:absolute;
	margin-left:-70px;
	margin-top:365px;
	width:1410PX;
	height:2PX;
}
#text{
	position:absolute;
	color:gray;
	margin-left:470px;
	margin-top:375px;
}

@media screen and (max-width:992px){
	
}

@media screen and (max-width:602px){
	
}